@tailwind utilities;


.slick-next:before, .slick-prev:before{
    display: none !important;
}
.slick-prev:hover, .slick-prev:focus, .slick-next:hover, .slick-next:focus{
    @apply bg-white
}

.slider-arrow-button {
    @apply w-7 h-7 bg-white z-10 rounded-full drop-shadow-md ring ring-1 ring-slate-200 absolute top-32 flex items-center justify-center;
}

.slider-arrow{
    @apply stroke-primary 
}

@media screen and (max-width: 480px) {
    .slider-arrow-button{
        display: none !important
    } 
}

.rating-arrow-button{
    @apply w-7 h-7 bg-white rounded-full drop-shadow-md ring ring-1 ring-slate-200 absolute flex items-center justify-center;
}

.slider-product-image-list .slick-list, .slider-product-image-list .slick-slide, .slider-product-image-list .slick-slide div:first-child{
    @apply h-60
}

.slider-product-image-list .slick-dots{
    bottom: 9px !important;
    left: -4px;
}

.slider-product-image-list .slick-dots li{
    width: 10px !important;
    height: 10px !important;
}

