@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @apply select-none
}

/*admin header */
.header-icon-mui-border{
  @apply !text-xl sm:!text-xl !text-gray-400 cursor-pointer
}

/* login modal css */
.log-modal-tab-active{
  @apply bg-black text-white;
}

.log-modal-tab-inactive{
  @apply bg-white text-black;
}

.nav-menu li{
  @apply cursor-pointer hover:text-primary;
}

/* product css*/
.card-action-button:hover .icon-fav, .card-action-button:hover .icon-cart{
    @apply !fill-black
}

.admin-Content-view{
  @apply my-1.5 sm:my-3.5 space-y-3 sm:space-y-6
}

.form-control-space-y{
  @apply space-y-3
}

.profile-menu .menu-item{
  @apply !text-xs sm:!text-sm !min-h-6 sm:!min-h-7 !px-3 !py-1
}

.custom-scroll-bar{
  @apply scrollbar-thin scrollbar-thumb-primary scrollbar-track-slate-200 
}